{% extends "layout.html" %}

{% block body %}

<div class="container">
    <h1>Available rooms.</h1>

    <h8>Please select a room. These are the rooms available based on the criteria you entered in the form. If you do not see any cards, it means there are no rooms available.</h8>
    <!-- <h6></h6> -->
    <div>
        <div class="row">
            {% for r in rooms %}

            <div class="col-md-3 col-6 " >
                <a class="answerCard" style="text-decoration: none; color: black;" href="{{url_for("payment", id=r.id)}}">
                    <div>    
                        <h6>Block {{r.block}} Room {{r.number}} </h6>  
                        <h6>{{r.maxOccupancy}} in-a-room</h6>  
                        <h6>Room Size: {{r.size}}</h6>     
                        <h6>Beds Remaining: {{r.bedsAvailable}}</h6>     
                        <h6>GHS {{r.price}}</h6>     
                    </div>    
                </a>
                </div>


            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
